@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }

  th,
  td {
    @apply border-[1px] border-[#b5b5b5];
  }

  th {
    @apply py-2;
  }

  td {
    @apply py-[7px] px-[15px] align-top text-[15px];
  }
}

.header-base {
  @apply relative after:absolute after:h-0.5 after:bg-white after:left-0 after:bottom-[-3px];
}

.header-hover {
  @apply header-base;
  @apply after:transition after:ease-out after:duration-150 after:scale-[0.2] after:w-0;
  @apply hover:after:scale-100 hover:after:w-full;
}

.header-active {
  @apply header-base;
  @apply after:w-full;
}

.btn-action {
  @apply px-[5px] py-[3px] rounded hover:cursor-pointer;
}

.btn-category {
  @apply px-2 py-[3px] rounded-full overflow-hidden text-ellipsis whitespace-nowrap block w-[110px];
}

/* .three-dots {
  @apply overflow-hidden text-ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
} */
